.about-us {
  margin-bottom: 27px;

  @include tablet {
    margin-bottom: 28px;
  }

  @include desktop {
    margin-bottom: 38px;
  }
}

.about-us__title {
  @include title-mob;

  @include tablet {
    @include title-table;
    margin-bottom: 41px;
  }

  @include desktop {
    @include title-desktop;
    margin-bottom: 39px;
  }
}

.about-us__list {
  list-style: none;
}

.about-us__description {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;

  @include margin-padding-zero;

  @include tablet {
    font-size: 20px;
    line-height: 22px;
  }
}

.about-us__container {
  display: flex;
  flex-direction: column;
}

.about-us__title-wrapper {
  @include margin-padding-zero;
  margin-bottom: 28px;

  @include desktop {
    margin-left: 175px;
  }
}

.about-us__list-wrapper {
  @include margin-padding-zero;
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-wrap: wrap;
    height: 474px;
  }

  @include desktop {
    margin: 0 175px;
    height: 465px;
  }
}

.about-us__item {
  @include margin-padding-zero;
  height: 94px;
  margin-bottom: 29px;

  @include tablet {
    @include margin-padding-zero;
    width: 50%;
    margin-bottom: 55px;
  }
}

.about-us__item-wrapper {
  display: flex;
  align-items: flex-end;
}

.about-us__item--eco {
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
}

.about-us__item--style {
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
}

.about-us__item--like {
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
}

.about-us__item--handmade {
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
}

.about-us__item--manufacturer {
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
}

.about-us__item--present {
  background-image: url("../img/icon-6.svg");
  background-repeat: no-repeat;
}
