.button {
  font: inherit;
  color: $dark-grey-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid $dark-grey-font;
  background-color: $white;

  @include tablet {
    font-size: 17px;
  }
}

.button:hover,
.button:focus {
  color: $white;
  background-color: $dark-grey-font;
}

.button:active {
  color: $white-opacity-third;
  background-color: $dark-grey-font;
}
