.contacts__title {
  @include title-mob;
  font-size: 18px;

  @include tablet {
    @include title-table;
  }
}

.contacts__title-wrapper {
  @include margin-padding-zero;

  @include tablet {
    margin-bottom: 9px;
  }

  @include desktop {
    margin-bottom: 7px;
  }
}

.contacts__info-item {
  font-size: 14px;
  line-height: 30px;

  @include tablet {
    font-size: 17px;
  }
}

.contacts__info-email-link {
  color: $black;
  text-decoration: none;
  border-bottom: 1px solid $soft-green-active;

  &:hover,
  &:focus {
    color: $dark-soft-green-hover;
    border-bottom: 1px solid $dark-soft-green-hover;
  }

  &:active {
    border-bottom: none;
  }
}

.contacts__container {
  display: grid;
  margin-bottom: 39px;

  @include tablet {
    margin-bottom: 57px;
  }

  @include desktop {
    grid-template-columns: 50px 1fr 2fr 3fr 50px;
    grid-template-rows: 143px 181px 133px;
    margin-bottom: 105px;
  }
}

.contacts__title-container {
  display: grid;
  margin-bottom: 28px;
  padding: 0 30px;

  @include tablet {
    align-items: end;
    height: 81px;
    margin-bottom: 40px;
    padding: 0 50px;
    position: relative;
  }

  @include desktop {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    padding: 0;
    margin: 0;
    padding-left: 225px;
    align-self: end;
  }
}

.contacts__title-container::after {
  @include tablet {
    content: "";
    position: absolute;
    right: 53px;
    width: 47px;
    height: 81px;
    background-image: url("../img/flag.svg");
  }

  @include desktop {
    left: 113px;
  }
}

.contacts__info-list-container {
  display: grid;
  padding: 0 30px;

  @include tablet {
    padding: 0 50px;
  }

  @include desktop {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    padding: 0;
  }
}

.contacts__info-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 27px;

  @include tablet {
    flex-direction: row;
    margin-bottom: 49px;
  }

  @include desktop {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.contacts__info-item-wrapper {
  display: flex;
  flex-direction: row;
  padding-bottom: 35px;

  @include tablet {
    width: 50%;
    padding-bottom: 0;
  }

  @include desktop {
    width: 100%;
    padding-top: 28px;
    padding-bottom: 3px;
  }
}

.contacts__info-name {
  width: 75px;

  @include tablet {
    width: 78px;
  }
}

.contacts__info-description {
  @include margin-padding-zero;
  width: calc(100% - 75px);

  @include desktop {
    width: 274px;
  }
}

.contacts__map {
  margin-bottom: 42px;

  @include tablet {
    margin-bottom: 55px;
  }

  @include desktop {
    margin: 0;
    grid-column: 4 / -1;
    grid-row: 1 / -1;
  }
}

.contacts__write-wrapper {
  height: 52px;
  display: flex;
  align-items: center;
  padding: 0 30px;

  @include tablet {
    justify-content: center;
    padding: 0 50px;
  }

  @include desktop {
    grid-column: 3 / 4;
    grid-row: 3 / -1;
    align-self: end;
  }
}

.contacts__write {
  width: 100%;
  height: 48px;
  display: grid;
  align-items: center;

  @include tablet {
    width: 226px;
  }
}
