.innerpage-main {
  background-color: $dark-grey-background;
  display: flex;
  height: 177px;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 17px;

  @include tablet {
    height: 238px;
    margin-bottom: 54px;
    position: relative;
  }

  @include desktop {
    height: 272px;
    margin-bottom: 98px;
  }
}

.innerpage-main__title {
  @include title-mob;
  font-size: 27px;

  @include margin-padding-zero;

  @include tablet {
    @include title-table;
  }

  @include desktop {
    @include title-desktop;
  }
}

.innerpage-main::after {
  @include zigzag;
}
