.map {
  background-color: $dark-grey-background;
  position: relative;
}

.map::after {
  content: "";
  position: absolute;
  width: 67px;
  height: 100px;
  top: calc((50% - 100px / 2) - 40px);
  left: calc((50% - 67px / 2) + 15px);
  background-image: url("img/map-pin.svg");
}

.map__interactive {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 110;
  width: 100%;
  height: 100%;
}
