.page-footer {
  background-color: $dark-grey-background;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 143px;

  @include tablet {
    flex-direction: row;
  }
}

.page-footer__logo {
  display: none;
  cursor: pointer;

  @include tablet {
    display: flex;
  }
}

.page-footer__social {
  height: 80px;
  border-bottom: 1px solid $black-line;

  @include tablet {
    height: 80px;
    border-bottom: none;
  }
}

.page-footer__copyright {
  height: 79px;
  width: 182px;
}

.page-footer__logo-icon,
.social__link-icon {
  fill: $black;
  opacity: 1;

  @include footer-icon;
}

.copyright__link-icon {
  fill: $light-soft-green;
  opacity: 1;

  @include footer-icon;
}
