.popular-product {
  margin-bottom: 31px;
}

.popular-product__title {
  @include title-mob;
  margin: 0;
  padding: 0;
}

.popular-product__title::after {
  content: "Товар недели";
  color: $light-soft-green;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;

  text-transform: uppercase;
  display: block;
}

.popular-product__description {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: left;
  margin: 0;
  padding: 0;
}

.popular-product__picture {
  background-color: $dark-grey-background;
  margin-bottom: 26px;
}

.popular-product__price {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}

.popular-product__price-wrapper {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.popular-product__container {
  display: grid;
}

.popular-product__title-wrapper {
  margin-bottom: 17px;
}

.popular-product__description-wrapper {
  margin-bottom: 23px;
}

.popular-product__table {
  display: block;
  margin-bottom: 28px;
}

.popular-product__image {
  width: 100%;
}

.popular-product__order {
  display: grid;
  height: 48px;
  align-items: center;
}

.popular-product__order-wrapper {
  display: grid;
  align-items: start;
  height: 94px;
}

@media (min-width: $tablet-width) {
  .popular-product__container {
    grid-template-columns: 1fr 334px;
    grid-template-rows: 127px 130px 120px 82px 85px;
    column-gap: 42px;
  }

  .popular-product__title-wrapper {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    margin: 0;
  }

  .popular-product__title {
    @include title-table;
  }

  .popular-product__title::after {
    width: 126px;
    text-align: center;
    position: relative;
    left: calc(100% - 126px);
    bottom: 47px;
  }

  .popular-product__table {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin: 0;
  }

  .popular-product__price-wrapper {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    margin: 0;
    align-self: end;
  }

  .popular-product__order-wrapper {
    grid-column: 1 / 2;
    grid-row: 5 / -1;
    margin: 0;
    align-self: end;
    height: 52px;
  }

  .popular-product__picture {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    margin-bottom: 0;
    display: grid;
    align-self: end;
  }

  .popular-product__description-wrapper {
    margin: 0;
  }

  .popular-product__description {
    font-size: 17px;
    line-height: 30px;
  }

  .popular-product__price {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .popular-product__container {
    grid-template-columns: 1fr 291px 58px 2fr 1fr;
    grid-template-rows: 172px 125px 174px 137px 82px 96px;
    column-gap: 0;
  }

  .popular-product__title-wrapper {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    margin: 0;
    z-index: 1;
    align-self: end;

    position: relative;
  }

  .popular-product__title {
    @include title-desktop;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .popular-product__title::after {
    position: absolute;
    bottom: 15px;
    left: -144px;
  }

  .popular-product__picture {
    grid-column: 4 / -1;
    grid-row: 1 / -2;
    margin-bottom: 0;
    display: grid;
    align-self: end;
  }

  .popular-product__description-wrapper {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: end;
  }

  .popular-product__table {
    grid-column: 2 / 3;
    align-self: end;
  }

  .popular-product__price-wrapper {
    grid-column: 2 / 3;
  }

  .popular-product__order-wrapper {
    grid-column: 2 / 3;
    grid-row: 5 / -2;
  }
}
