.promo {
  height: 489px;
  background-color: $soft-grey-background;
  margin-bottom: 31px;
  position: relative;

  @include tablet {
    height: 763px;
    margin-bottom: 39px;
  }

  @include desktop {
    margin-bottom: 54px;
  }
}

.promo::after {
  @include zigzag;
}

.promo__container {
  background-image: url("../img/hero-mobile.jpg");
  background-position: center -17px;
  background-repeat: no-repeat;
  display: grid;
  height: 100%;
  align-items: end;

  @include tablet {
    background-image: url("../img/hero-desktop 2.jpg");
    background-position: center;
  }

  @include desktop {
    background-image: url("../img/hero-desktop 1.jpg");
    background-position: center;
  }
}

.promo__title {
  @include title-mob;
  font-size: 27px;

  @include tablet {
    @include title-table;
  }

  @include desktop {
    @include title-desktop;
  }
}

.promo__title--wrapper {
  align-self: start;
  padding: 0 30px;
  margin-top: 73px;
  min-width: 260px;
  text-align: center;

  @include tablet {
    margin-top: 165px;
  }
}
