// site colors

$light-soft-green: #63d1bb;
$light-soft-green-hover: #59d5bc;
$dark-soft-green: #56c3b2;
$dark-soft-green-hover: #46c1ae;
$soft-green-active: #62d1ba;
$dark-grey-font: #444444;
$soft-grey: #ececec;
$soft-grey-background: #f9f9f9;
$dark-grey-background: #f1f1f1;
$modal-background: #c6c6c6;
$black: #000000;
$black-hover: rgba(0, 0, 0, 0.6);
$black-visited: rgba(0, 0, 0, 0.3);
$white: #ffffff;
$white-opacity-third: rgba(255, 255, 255, 0.3);

// Dimension
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
